.vs/omnichannel-research/v17/TestStore/0/testlog.manifest
.vs/omnichannel-research/v17/TestStore/0/000.testlog
.vs/omnichannel-research/v17/DocumentLayout.json
.vs/omnichannel-research/FileContentIndex/372269a4-beb0-4d73-aaa3-d5737dc177e0.vsidx
.vs/omnichannel-research/v17/.wsuo
.vs/VSWorkspaceState.json
.vs/slnx.sqlite
